BODY,table,td,ul,li,p {font-family: Arial, Helvetica; font-size: 12px; color: #000000;}
form,input,select,options {font-family: Arial, Helvetica; font-size: 100%; color: #000000;}


h1 	{
	font-family: Arial, Verdana, Helvetica;
	font-size: 20px;
	color: #666666;
	margin-top: 0.0em;
	margin-left: 1.0em;
	margin-bottom: 0.0em;
	}

.textBox
	{
	font-family: Arial, Helvetica;
	font-size: 11px;
	border: 1px solid #999999;
	color: #666666;
	}

.textBox1
	{
	font-family: Arial, Helvetica;
	border: 1px solid #999999;
	color: #333333;
	}

.14
	{
	font-size: 14px;
	font-weight: bold;
	}

.14na
	{
	font-size: 14px;
	font-weight: bold;
	color:#666666;
	}

.color1
	{
	color: #666666;
	font-size: 11px;
	}


td.copy 	{
	color: #cccccc;
	font-family: Tahoma, Arial; font-size: 9px;}


A:link 		{font-family: Arial; text-decoration: none; color: #3366CC;}
A:visited  	{font-family: Arial; text-decoration: none; color: #3366CC;}
A:active  	{font-family: Arial; text-decoration: none; color: #3366CC;}
A:hover 	{font-family: Arial; text-decoration: none; color: #339933;}

A.green:link 	{font-family: Arial; text-decoration: none; color: #339933;}
A.green:visited {font-family: Arial; text-decoration: none; color: #339933;}
A.green:active  {font-family: Arial; text-decoration: none; color: #339933;}
A.green:hover 	{font-family: Arial; text-decoration: none; color: #3366CC;}

A.red:link 	{font-family: Arial; text-decoration: none; color: #FF3333;}
A.red:visited {font-family: Arial; text-decoration: none; color: #FF3333;}
A.red:active  {font-family: Arial; text-decoration: none; color: #FF3333;}
A.red:hover 	{font-family: Arial; text-decoration: none; color: #FF3333;}


.error td {
    color: #ff2222;
}

.gray td {
    color: gray;
}

.bgGray td {
    background: #eeeeee;
}


#feedback table {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

#feedback td,th {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.short-select {
    width: 500px;
}